USE [master]
GO
/****** Object:  Database [biomob]    Script Date: 28/06/2022 08:18:55 ******/
CREATE DATABASE [biomob]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'biomob', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\biomob.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'biomob_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\biomob_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [biomob].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [biomob]
GO
/****** Object:  Schema [livre]    Script Date: 28/06/2022 08:18:56 ******/
CREATE SCHEMA [livre]
GO
/****** Object:  Table [livre].[Bateria]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Bateria](
	[numero_serie_bateria] [varchar](50) NOT NULL,
	[bateria_status] [varchar](50) NULL,
	[carga] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_serie_bateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [livre].[Bateria_associada]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Bateria_associada](
	[id] [int] NOT NULL,
	[id_bateria] [varchar](50) NOT NULL,
	[id_equipamento] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [livre].[Equipamento]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Equipamento](
	[nome] [varchar](100) NULL,
	[equipamento_status] [varchar](50) NULL,
	[numero_serie_equipamento] [varchar](50) NOT NULL,
	[qr_code] [varchar](60) NULL,
	[foto] [varchar](200) NULL,
	[foto64] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_serie_equipamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [livre].[Estoque]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Estoque](
	[kit] [int] IDENTITY(1,1) NOT NULL,
	[data_atualizacao] [datetime] NULL,
	[ativo] [bit] NULL,
	[tempo_utilizacao] [int] NULL,
	[evento] [varchar](100) NULL,
	[numero_serie_equipamento] [varchar](50) NOT NULL,
	[numero_serie_bateria] [varchar](50) NOT NULL,
	[emprestado] [bit] NULL,
	[qr64] [varchar](max) NULL,
	[qr] [varchar](200) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[altitude] [float] NULL,
	[velocidade] [float] NULL,
	[direção] [float] NULL,
	[PDOP] [float] NULL,
	[VDOP] [float] NULL,
	[satelites] [int] NULL,
	[rodaGirando] [bit] NULL,
	[panico] [bit] NULL,
	[RFID_equipamento] [varchar](200) NULL,
	[RFID_bateria] [varchar](200) NULL,
	[parceiro] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[kit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [livre].[Funcionario]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Funcionario](
	[nome] [varchar](200) NULL,
	[email] [varchar](250) NULL,
	[data_de_nascicmento] [datetime] NULL,
	[documento] [varchar](20) NOT NULL,
	[cep] [varchar](30) NULL,
	[logradouro] [varchar](200) NULL,
	[numero] [varchar](15) NULL,
	[complemento] [varchar](200) NULL,
	[bairro] [varchar](50) NULL,
	[cidade] [varchar](100) NULL,
	[estado] [varchar](100) NULL,
	[foto_documento] [varchar](200) NULL,
	[foto_com_documento] [varchar](200) NULL,
	[foto_reconhecimento] [varchar](200) NULL,
	[foto_documento64] [varchar](max) NULL,
	[foto_com_documento64] [varchar](max) NULL,
	[foto_reconhecimento64] [varchar](max) NULL,
	[nivel] [int] NULL,
	[senha] [varchar](100) NULL,
	[telefone] [varchar](80) NULL,
	[sobrenome] [varchar](250) NULL,
	[parceiro] [varchar](25) NULL,
	[kitlivre] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [livre].[Lesao]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Lesao](
	[id] [int] NOT NULL,
	[tipo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [livre].[Locacao]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Locacao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data_solicitacao] [datetime] NULL,
	[data_devolucao] [datetime] NULL,
	[tempo_espera] [decimal](18, 0) NULL,
	[avaliacao] [int] NULL,
	[numero_serie_equipamento] [varchar](50) NULL,
	[numero_serie_bateria] [varchar](50) NULL,
	[documento] [varchar](20) NULL,
	[devolvido] [bit] NULL,
	[foto] [varchar](300) NULL,
	[sugestao] [varchar](500) NULL,
	[status] [varchar](100) NULL,
	[kit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [livre].[Nivel]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Nivel](
	[id] [int] NOT NULL,
	[tipo_usuario] [varchar](45) NULL,
	[painel_de_gerenciamento] [bit] NULL,
	[atualizar_equipamentos] [bit] NULL,
	[estoque_de_equipamentos] [bit] NULL,
	[solicitacao_de_equipamentos] [bit] NULL,
	[devolucao_de_equipamentos] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [livre].[Parceiro]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Parceiro](
	[nome_fantasia] [varchar](200) NULL,
	[razao_social] [varchar](200) NULL,
	[email] [varchar](250) NULL,
	[inscricao_estadual] [varchar](50) NULL,
	[tipo_de_servico] [varchar](100) NULL,
	[telefone] [varchar](80) NULL,
	[documento_empresa] [varchar](25) NOT NULL,
	[cep] [varchar](30) NULL,
	[logradouro] [varchar](200) NULL,
	[numero] [varchar](15) NULL,
	[complemento] [varchar](200) NULL,
	[bairro] [varchar](50) NULL,
	[cidade] [varchar](100) NULL,
	[estado] [varchar](100) NULL,
	[foto] [varchar](200) NULL,
	[foto_reconhecimento] [varchar](200) NULL,
	[foto64] [varchar](max) NULL,
	[foto_reconhecimento64] [varchar](max) NULL,
	[nivel] [int] NULL,
	[agencia] [varchar](20) NULL,
	[n_conta] [varchar](20) NULL,
	[banco] [varchar](20) NULL,
	[tipo] [varchar](20) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
 CONSTRAINT [PK__Parceiro__A25B3E600C16B669] PRIMARY KEY CLUSTERED 
(
	[documento_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [livre].[Status]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Status](
	[id] [int] NOT NULL,
	[tipo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [livre].[Usuario]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Usuario](
	[nome] [varchar](200) NULL,
	[email] [varchar](250) NULL,
	[data_de_nascicmento] [datetime] NULL,
	[documento] [varchar](20) NOT NULL,
	[telefone_fixo] [varchar](80) NULL,
	[telefone_celular] [varchar](80) NULL,
	[cep] [varchar](30) NULL,
	[logradouro] [varchar](200) NULL,
	[numero] [varchar](15) NULL,
	[complemento] [varchar](200) NULL,
	[bairro] [varchar](50) NULL,
	[cidade] [varchar](100) NULL,
	[estado] [varchar](100) NULL,
	[situacao_lesao] [varchar](20) NULL,
	[nivel_lesao] [varchar](25) NULL,
	[detalhe_lesao] [varchar](500) NULL,
	[foto_documento] [varchar](200) NULL,
	[foto_com_documento] [varchar](200) NULL,
	[foto_reconhecimento] [varchar](200) NULL,
	[foto_documento64] [varchar](max) NULL,
	[foto_com_documento64] [varchar](max) NULL,
	[foto_reconhecimento64] [varchar](max) NULL,
	[nivel] [int] NULL,
	[senha] [varchar](100) NULL,
	[telefone] [varchar](80) NULL,
	[sobrenome] [varchar](250) NULL,
	[ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [livre].[Video]    Script Date: 28/06/2022 08:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [livre].[Video](
	[id] [int] NOT NULL,
	[url] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [livre].[Bateria] ([numero_serie_bateria], [bateria_status], [carga]) VALUES (N'101010', N'EM FUNCIONAMENTO', N'95')
INSERT [livre].[Bateria] ([numero_serie_bateria], [bateria_status], [carga]) VALUES (N'1111', N'EM FUNCIONAMENTO', N'100')
INSERT [livre].[Bateria] ([numero_serie_bateria], [bateria_status], [carga]) VALUES (N'123', N'EM FUNCIONAMENTO', N'100')
GO
INSERT [livre].[Equipamento] ([nome], [equipamento_status], [numero_serie_equipamento], [qr_code], [foto], [foto64]) VALUES (N'CADEIRA RAPIDERRIMA', N'EM MANUTENÇÃO', N'123', NULL, N'images/c0d56c4ed5784bbe-b16cd4cf50eba0e1981f10ff78bfe884b7ccccb7_full.jpeg', NULL)
INSERT [livre].[Equipamento] ([nome], [equipamento_status], [numero_serie_equipamento], [qr_code], [foto], [foto64]) VALUES (N'CLÁSSICO', N'EM FUNCIONAMENTO', N'1500', NULL, N'images/de1359fd95763e91-LOGO.png', NULL)
GO
SET IDENTITY_INSERT [livre].[Estoque] ON 

INSERT [livre].[Estoque] ([kit], [data_atualizacao], [ativo], [tempo_utilizacao], [evento], [numero_serie_equipamento], [numero_serie_bateria], [emprestado], [qr64], [qr], [latitude], [longitude], [altitude], [velocidade], [direção], [PDOP], [VDOP], [satelites], [rodaGirando], [panico], [RFID_equipamento], [RFID_bateria], [parceiro]) VALUES (69, CAST(N'2022-06-20T16:37:41.067' AS DateTime), 0, NULL, NULL, N'123', N'321', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [livre].[Estoque] ([kit], [data_atualizacao], [ativo], [tempo_utilizacao], [evento], [numero_serie_equipamento], [numero_serie_bateria], [emprestado], [qr64], [qr], [latitude], [longitude], [altitude], [velocidade], [direção], [PDOP], [VDOP], [satelites], [rodaGirando], [panico], [RFID_equipamento], [RFID_bateria], [parceiro]) VALUES (70, CAST(N'2022-06-20T16:37:34.253' AS DateTime), 0, NULL, NULL, N'321', N'123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [livre].[Estoque] ([kit], [data_atualizacao], [ativo], [tempo_utilizacao], [evento], [numero_serie_equipamento], [numero_serie_bateria], [emprestado], [qr64], [qr], [latitude], [longitude], [altitude], [velocidade], [direção], [PDOP], [VDOP], [satelites], [rodaGirando], [panico], [RFID_equipamento], [RFID_bateria], [parceiro]) VALUES (72, CAST(N'2022-06-20T16:37:44.207' AS DateTime), 0, NULL, NULL, N'2000', N'2000', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [livre].[Estoque] OFF
GO
INSERT [livre].[Lesao] ([id], [tipo]) VALUES (1, N'PARAPLEGIA')
INSERT [livre].[Lesao] ([id], [tipo]) VALUES (2, N'TETRAPLEGIA')
INSERT [livre].[Lesao] ([id], [tipo]) VALUES (3, N'AMPUTADO')
GO
SET IDENTITY_INSERT [livre].[Locacao] ON 

INSERT [livre].[Locacao] ([id], [data_solicitacao], [data_devolucao], [tempo_espera], [avaliacao], [numero_serie_equipamento], [numero_serie_bateria], [documento], [devolvido], [foto], [sugestao], [status], [kit]) VALUES (52, CAST(N'2022-06-09T10:40:57.877' AS DateTime), CAST(N'2022-06-20T18:23:54.583' AS DateTime), NULL, 3, N'123', N'321', N'162.256.587-85', 1, N'images/4d0878019e7d1429-LOGO.jpg', N'TESTE', N'TESTE', 69)
INSERT [livre].[Locacao] ([id], [data_solicitacao], [data_devolucao], [tempo_espera], [avaliacao], [numero_serie_equipamento], [numero_serie_bateria], [documento], [devolvido], [foto], [sugestao], [status], [kit]) VALUES (53, CAST(N'2022-06-20T09:48:39.867' AS DateTime), CAST(N'2022-06-20T18:23:54.583' AS DateTime), NULL, 3, N'321', N'123', N'162.256.587-85', 1, N'images/4d0878019e7d1429-LOGO.jpg', N'TESTE', N'TESTE', 70)
INSERT [livre].[Locacao] ([id], [data_solicitacao], [data_devolucao], [tempo_espera], [avaliacao], [numero_serie_equipamento], [numero_serie_bateria], [documento], [devolvido], [foto], [sugestao], [status], [kit]) VALUES (54, CAST(N'2022-06-20T09:49:08.120' AS DateTime), CAST(N'2022-06-20T18:23:54.583' AS DateTime), NULL, 3, N'321', N'123', N'162.256.587-85', 1, N'images/4d0878019e7d1429-LOGO.jpg', N'TESTE', N'TESTE', 70)
SET IDENTITY_INSERT [livre].[Locacao] OFF
GO
INSERT [livre].[Nivel] ([id], [tipo_usuario], [painel_de_gerenciamento], [atualizar_equipamentos], [estoque_de_equipamentos], [solicitacao_de_equipamentos], [devolucao_de_equipamentos]) VALUES (1, N'USUÁRIO', 0, 0, 0, 1, 1)
INSERT [livre].[Nivel] ([id], [tipo_usuario], [painel_de_gerenciamento], [atualizar_equipamentos], [estoque_de_equipamentos], [solicitacao_de_equipamentos], [devolucao_de_equipamentos]) VALUES (2, N'EQUIPE TÉCNICA LOGÍSTICA', 1, 1, 1, 1, 1)
INSERT [livre].[Nivel] ([id], [tipo_usuario], [painel_de_gerenciamento], [atualizar_equipamentos], [estoque_de_equipamentos], [solicitacao_de_equipamentos], [devolucao_de_equipamentos]) VALUES (3, N'EQUIPE TÉCNICA PRESENCIAL', 1, 1, 1, 1, 1)
GO
INSERT [livre].[Status] ([id], [tipo]) VALUES (1, N'EM FUNCIONAMENTO')
INSERT [livre].[Status] ([id], [tipo]) VALUES (2, N'EM MANUTENÇÃO')
INSERT [livre].[Status] ([id], [tipo]) VALUES (3, N'COM DEFEITO')
GO
INSERT [livre].[Video] ([id], [url]) VALUES (1, N'https://www.youtube.com/watch?v=xiZm4xl9jKI')
GO
ALTER TABLE [livre].[Estoque] ADD  DEFAULT ((0)) FOR [emprestado]
GO
ALTER TABLE [livre].[Funcionario] ADD  DEFAULT ((2)) FOR [nivel]
GO
ALTER TABLE [livre].[Locacao] ADD  DEFAULT ((0)) FOR [devolvido]
GO
ALTER TABLE [livre].[Parceiro] ADD  DEFAULT ((2)) FOR [nivel]
GO
ALTER TABLE [livre].[Usuario] ADD  DEFAULT ((1)) FOR [nivel]
GO
ALTER TABLE [livre].[Usuario] ADD  CONSTRAINT [DF_Usuario_ativo]  DEFAULT ((0)) FOR [ativo]
GO
ALTER TABLE [livre].[Bateria_associada]  WITH CHECK ADD FOREIGN KEY([id_bateria])
REFERENCES [livre].[Bateria] ([numero_serie_bateria])
GO
ALTER TABLE [livre].[Bateria_associada]  WITH CHECK ADD FOREIGN KEY([id_equipamento])
REFERENCES [livre].[Equipamento] ([numero_serie_equipamento])
GO
ALTER TABLE [livre].[Estoque]  WITH CHECK ADD FOREIGN KEY([numero_serie_bateria])
REFERENCES [livre].[Bateria] ([numero_serie_bateria])
GO
ALTER TABLE [livre].[Estoque]  WITH CHECK ADD FOREIGN KEY([numero_serie_equipamento])
REFERENCES [livre].[Equipamento] ([numero_serie_equipamento])
GO
ALTER TABLE [livre].[Estoque]  WITH CHECK ADD FOREIGN KEY([parceiro])
REFERENCES [livre].[Parceiro] ([documento_empresa])
GO
ALTER TABLE [livre].[Estoque]  WITH CHECK ADD  CONSTRAINT [FK_Estoque_Estoque] FOREIGN KEY([kit])
REFERENCES [livre].[Estoque] ([kit])
GO
ALTER TABLE [livre].[Estoque] CHECK CONSTRAINT [FK_Estoque_Estoque]
GO
ALTER TABLE [livre].[Funcionario]  WITH CHECK ADD FOREIGN KEY([nivel])
REFERENCES [livre].[Nivel] ([id])
GO
ALTER TABLE [livre].[Funcionario]  WITH CHECK ADD FOREIGN KEY([parceiro])
REFERENCES [livre].[Parceiro] ([documento_empresa])
GO
ALTER TABLE [livre].[Locacao]  WITH CHECK ADD FOREIGN KEY([documento])
REFERENCES [livre].[Usuario] ([documento])
GO
ALTER TABLE [livre].[Locacao]  WITH CHECK ADD FOREIGN KEY([kit])
REFERENCES [livre].[Estoque] ([kit])
GO
ALTER TABLE [livre].[Locacao]  WITH CHECK ADD FOREIGN KEY([numero_serie_equipamento])
REFERENCES [livre].[Equipamento] ([numero_serie_equipamento])
GO
ALTER TABLE [livre].[Locacao]  WITH CHECK ADD FOREIGN KEY([numero_serie_bateria])
REFERENCES [livre].[Bateria] ([numero_serie_bateria])
GO
ALTER TABLE [livre].[Parceiro]  WITH CHECK ADD FOREIGN KEY([nivel])
REFERENCES [livre].[Nivel] ([id])
GO
ALTER TABLE [livre].[Usuario]  WITH CHECK ADD FOREIGN KEY([nivel])
REFERENCES [livre].[Nivel] ([id])
GO
USE [master]
GO
